<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <title>WebCodex</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
	  <div id="loading" style="display:none;">
  	  	<img id="img-loading" src="loading.gif" alt="loading"/>
  	  </div> 
  	  <div class="container" ng-controller="UserMessageCtrl">
		<h1 id="header"><a href="user_messages.html" title="UserMessages"><span></span></a></h1>
		<div id="mainmenu">
	      <ul id="menu" >
	          <li><a href="/index.html">Accueil</a></li>
	          <li><a href="/code.html">J'enregistre un code</a></li>
	          <li><a style="color:black" href="/message.html">J'ai trouvé un objet</a></li>
	          <li class="active"><a class="active" href="/user.html">Modifer mon espace</a></li>
	      </ul>
	    </div>

	    <div id="menumobile">
	      <div id="sideNavigation" class="sidenav">
	        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	        <a href="/index.html">Accueil</a>
	        <a href="/message.html">J'ai trouvé un objet</a>
	        <a href="/code.html">J'enregistre un code</a>
	        <a class="active" href="/user.html">Modifer mon espace</a>
	      </div>
	       
	      <nav class="topnav">
	        <a href="#" onclick="openNav()"><strong>Menu</strong></a>
	      </nav>
	    </div>
		<table class="table">
			<thead>
				<tr>
					<!-- <th>CodeId</th> -->
					<th>De</th>
					<!-- <th>Mobile</th> -->
					<th>Objet</th>
					<!--  <th>Texte</th>
					<th>DateCreation</th>
					<th>DateExpiration</th> -->
				</tr>
			</thead>
			<tbody>
				<!-- <tr>
					<td><input class="form-control" ng-model=message.CodeId></td>
					<td><input style="width:60px" class="form-control" ng-model=message.From></td>
					<td><input style="width:60px" class="form-control" ng-model=message.FromMobile></td>
					<td><input style="width:80px" class="form-control" ng-model=message.Subject></td>
					<td><input class="form-control" ng-model=message.Text></td> 
				</tr> -->
				<tr ng-repeat="message in messages">
					<!-- <td>{{message.CodeId}}</td> -->
					<td>{{message.From}}</td>
					<td>{{message.FromMobile}}</td>
					<td>{{message.Subject}}</td>
					<!-- <td>{{message.Text}}</td> -->
					<td><button style="width:70px;margin-left:0px" class="btn btn-warning" ng-click="editMessage(message._id)">Détails</button></td>
					<td><button style="width:100px;margin-left:0px" class="btn btn-danger" ng-click="removeMessage(message._id)">Supprimer</button></td>
				</tr>
			</tbody>
		</table>
		<p id="footer">La société Iner-DEV s'engage  par conséquent, conformément aux articles 34 et 35 de la loi du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés ainsi qu’aux articles 32 à 35 du règlement général sur la protection des données du 27 avril 2016, à prendre toutes précautions conformes aux usages et à l’état de l’art dans le cadre de ses attributions afin de protéger la confidentialité des informations aux- quelles elle a  accès, et en particulier d’empêcher qu’elles ne soient communiquées à des personnes non expressément autorisées à recevoir ces informations.</p>
      	<p style="line-height: 15px" id="copyright-info">&copy; 2018-2019 WebCodex <a style="font-size: 1.1em;padding-left: 0px;line-height: 12px" ; href="/personal_data.html">CGU Notre charte de données</a></p> 
	</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>   
<script src="/controllers/controller.js"></script>
<script>
</script>
</body>
</html>